.root {
  position: relative;
  margin-right: auto;
  margin-left: 35px;
  max-width: 400px;
  width: 100%;
}

.input {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 12px 20px;
  padding-left: 45px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 14px;
}